---

general:
  name:            ifconfig
  description: >
      This Job assignes an IP address to an agent's interface

  job_version:     '1.0'
  keywords:        [ifconfig]
  persistent:      false

platform_configuration:
  - ansible_system: 'Linux'
    ansible_distribution: 'Ubuntu'
    ansible_distribution_version: '16.04'
    command: 'sudo python3 /opt/openbach/agent/jobs/ifconfig/ifconfig.py'
    command_stop:

arguments:
  required:
    - name:        interface_name
      type:        'str'
      count:       1
      description: >
          The name of the interface

  optional:
    - name:        ip_address
      type:        'ip'
      count:       1
      flag:        '-i'
      description: >
          The ip address to assign to the interface

    - name:        action
      type:        'int'
      count:       1
      flag:        '-a'
      description: >
          Add (1) or delete (0) an interface's ip address. Default=1
   
statistics:

