input {
	syslog {
		host => "{{ ansible_default_ipv4.address }}"
		port => {{ logstash_port }}
	}
}

filter {
	if [sysloghost] {
		mutate {
			replace => [ "host", "%{sysloghost}" ]
			remove_field => "sysloghost"
		}
	}
}

output {
	elasticsearch {
		hosts => "{{ ansible_default_ipv4.address }}"
		user => "{{ cluster_name }}"
	}
}

