---

address: {{ collector_ip }}
logs:
  port: {{ logstash_logs_port }}
  query: {{ elasticsearch_query_port }}
stats:
  port: {{ logstash_stats_port }}
  query: {{ influxdb_query_port }}
  database: {{ influxdb_database_name }}
  precision: {{ influxdb_precision }}
