[Unit]
Description=Startup script for OpenBACH Agent
Requires=network.target
Requires=rstats.service

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /var/run/openbach
ExecStart=/usr/bin/python3 /opt/openbach-agent/openbach-agent.py
ExecReload=/opt/openbach-agent/openbach-agent.status

[Install]
WantedBy=multi-user.target


