#!/bin/bash

hostname=`cat /etc/hostname`
timestamp=`echo $(date +%s%N)`

sudo service openbach-agent status
if [ $? -eq 0 ]; then
    curl -i -XPOST 'http://{{ collector_ip }}:{{ influxdb_port }}/write?db=openbach' --data-binary "$hostname status=\"Available\" $timestamp" > /dev/null 2>&1
else
    curl -i -XPOST 'http://{{ collector_ip }}:{{ influxdb_port }}/write?db=openbach' --data-binary "$hostname status=\"Agent reachable but daemon not running\" $timestamp" > /dev/null 2>&1
fi

