# Dynamic groups must be defined beforehand so ansible
# knows it is the name of a group.
# In this example, this is the name of a machine in the
# OpenStack network so it will be populated by the
# openstack.py dynamic inventory.
[controller_valid]

# Only "controller", "collector" and "agent" groups are
# used by the OpenBACH playbooks, so make sure to group
# the dynamic groups under the right group.
# [controller:children]
# controller_valid
[controller]
172.20.34.80
