[Unit]
Description=Startup script for OpenBACH Conductor
Requires=network.target

[Service]
User={{ ansible_ssh_user }}
Type=simple
Environment="PYTHONPATH=/opt/openbach-controller/backend/"
ExecStart=/usr/bin/python3 /opt/openbach-controller/openbach-conductor/openbach_conductor.py

[Install]
WantedBy=multi-user.target

