$template strtpl,"{ \"pri\": \"%pri%\", \"timestamp\": \"%timestamp%\", \"hostname\": \"%hostname%\", \"programname\": \"%programname%\", \"procid\": \"%procid%\", \"msg\": \"%msg%\" }\n"
$template FileFormat,"/var/log/openbach/status-manager_%$now%T%$hour%0000.log"
if $programname == 'status-manager' and $syslogseverity <= '3' then \
	-?FileFormat;strtpl
