---

- name: Gather Jobs Metadata
  local_action: jobs_metadata folders={{ ['../src/jobs/'] + (openbach_jobs_folders | default([])) }} limit={{ (default_jobs + default_collector_jobs) if 'collector' in group_names or ('controller' in group_names and ('collector' not in groups or not groups.collector)) else default_jobs }}
  register: openbach_install_default_jobs
  when: jobs is not defined

- name: Setup default Jobs
  set_fact: jobs={{ openbach_install_default_jobs.openbach_jobs }}
  when: jobs is not defined

- name: Execute the Job Installation Playbook
  include_tasks: "{{ job_item.path }}/install_{{ job_item.name }}.yml"
  args:
    job_name: "{{ job_item.name }}"
  remote_user: openbach
  with_items: "{{ jobs }}"
  environment: "{{ openbach_proxy_env }}"
  loop_control:
    loop_var: job_item

- name: Create the Job stats Folder
  file: path=/var/openbach_stats/{{ item.name }} state=directory mode=0755 owner=openbach group=openbach
  become: yes
  with_items: "{{ jobs }}"

- name: Set Default Logs Severity
  template: src=../src/jobs/admin_jobs/rsyslog_job/templates/job.j2 dest=/etc/rsyslog.d/{{ item.name }}.conf
  vars:
    job: "{{ item.name }}"
    syslogseverity: 1
    collector_ip: "{{ openbach_collector }}"
  become: yes
  with_items: "{{ jobs }}"

- name: Set Default Logs Local Severity
  template: src=../src/jobs/admin_jobs/rsyslog_job/templates/job_local.j2 dest=/etc/rsyslog.d/{{ item.name }}_local.conf
  vars:
    job: "{{ item.name }}"
    syslogseverity_local: 1
  become: yes
  with_items: "{{ jobs }}"

- name: Inform Agent that a new Job is Installed
  copy: src={{ item.path }}/files/{{ item.name }}.yml dest=/opt/openbach/agent/jobs/ mode=0644
  remote_user: openbach
  with_items: "{{ jobs }}"
