---

{% if hostvars[item].openbach_http_proxy %}
openbach_http_proxy: {{ hostvars[item].openbach_http_proxy }}
{% endif %}
{% if hostvars[item].openbach_https_proxy %}
openbach_https_proxy: {{ hostvars[item].openbach_https_proxy }}
{% endif %}
{% if hostvars[item].ansible_connection is defined %}
ansible_connection: {{ hostvars[item].ansible_connection }}
{% if hostvars[item].ansible_winrm_server_cert_validation is defined %}
ansible_winrm_server_cert_validation: {{ hostvars[item].ansible_winrm_server_cert_validation }}
{% endif %}{% endif %}
