---

- name: Add OpenBACH repository
  apt_repository: repo={{ openbach_repository }} state=present update_cache=no
  become: yes

- name: Install apt Packages
  apt: pkg={{ item }} allow_unauthenticated=yes
  with_items:
    - grafana=3.0.4-1464167696
    - kibana=5.6.3
  become: yes
  environment: "{{ openbach_proxy_env }}"
  notify: 
    - restart grafana  
    - restart kibana

- name: Install apt Packages
  apt: pkg={{ item }}
  with_items:
    - libfontconfig
    - nginx-extras
  become: yes
  environment: "{{ openbach_proxy_env }}"
  notify: 
    - restart nginx

- name: Configure Grafana
  copy: src=grafana.ini dest=/etc/grafana mode=0640
  become: yes
  notify: restart grafana

- name: Configure Kibana
  template: src=kibana.yml.j2 dest=/etc/kibana/kibana.yml
  vars:
    collector_ip: "{{ openbach_collector }}"
  become: yes
  notify: restart kibana

- name: Configure Kibana environement variables 
  lineinfile: path=/etc/default/kibana line="NODE_OPTIONS=--max-old-space-size=100"
  become: yes
  notify: restart kibana

- name: Configure Nginx
  template: src=default.j2 dest=/etc/nginx/sites-available/default
  vars:
    controller_ip: "{{ openbach_controller }}"
    auditorium_ip: "{{ inventory_hostname }}"
    collector_ip: "{{ openbach_collector }}"
  become: yes
  notify: restart nginx

- name: Create OpenBACH repository
  file: path=/opt/openbach/auditorium/frontend state=directory
  remote_user: openbach

- name: Upload Auditorium Frontend
  synchronize: src=frontend/ dest=/opt/openbach/auditorium/frontend/ recursive=yes delete=yes
  remote_user: openbach

- name: Copy the version file on the Auditorium
  copy: src=../version dest=/opt/openbach/auditorium/version
  remote_user: openbach
