[Unit]
Description=Startup script for OpenBACH Conductor
Requires=network.target

[Service]
User=openbach
Type=simple
Environment="PYTHONPATH=/opt/openbach/controller/backend/"
ExecStart=/usr/bin/python3 /opt/openbach/controller/conductor/openbach_conductor.py

[Install]
WantedBy=multi-user.target
