[Unit]
Description=Startup script for OpenBACH Backend
Requires=network.target

[Service]
User=openbach
Type=simple
WorkingDirectory=/opt/openbach/controller/backend/
ExecStart=/usr/local/bin/uwsgi --master --workers 5 --http :8000 --module backend.wsgi --static-map /static=/opt/openbach/controller/backend/static_root --die-on-term

[Install]
WantedBy=multi-user.target
