[Unit]
Description=Startup script for OpenBACH Backend
Requires=network.target

[Service]
User=openbach
Type=simple
WorkingDirectory=/opt/openbach/controller/backend/
ExecStart=/usr/local/bin/uwsgi --http :8000 --module backend.wsgi

[Install]
WantedBy=multi-user.target
