---

- name: Stop Agent Services
  systemd: name={{ item }} state=stopped enabled=no daemon_reload=yes
  with_items:
    - openbach_agent
    - rstats
  become: yes

- name: Remove Agent Services Files
  file: path=/etc/systemd/system/{{ item }}.service state=absent
  with_items:
    - openbach_agent
    - rstats
  become: yes

- name: Remove pip Mirror
  file: path=/opt/openbach/pip_mirror state=absent
  become: yes

- name: Restore ntp Backup
  shell: ls -t1 ntp.conf.* | tail -1 | xargs -I XXX mv XXX ntp.conf chdir=/etc/
  ignore_errors: yes
  become: yes

- name: Remove Log Folder
  file: path=/var/log/openbach state=absent
  become: yes
  when: openbach_clear_databases | default(False)

- name: Remove logrotate Config File
  file: path=/etc/logrotate.d/openbach_logrotate.conf state=absent
  become: yes

- name: Remove Rsyslog Config Files
  file: path=/etc/rsyslog.d/{{ item }}.conf state=absent
  with_items:
    - rstats
    - rstats_local
    - openbach_agent
    - openbach_agent_local
  become: yes

- name: Remove Stats Folder
  file: path=/var/openbach_stats state=absent
  become: yes
  when: openbach_clear_databases | default(False)

- name: Remove Collect-Agent Libraries
  make:
    chdir: /opt/openbach/agent/collect_agent/client_api/
    target: uninstall
    params:
      DESTDIR: /usr/
  become: yes

- name: Remove Openbach API Modules
  pip: executable=pip3 name=openbach_api state=absent
  become: yes

- name: Remove Agent Repository
  file: path=/opt/openbach/agent state=absent
  become: yes

- name: Remove SUDO Rights for openbach User
  file: path=/etc/sudoers.d/passwordless_openbach state=absent
  become: yes
