---

- name: Install python3-pip
  apt: pkg=python3-pip state=installed update_cache=false

- name: Download Django
  copy: src=../src/controller/django dest=/tmp/

- name: Install Django
  pip: name=django executable=pip3 version={{ django_version }} extra_args='--download-cache /tmp/django/'

- name: Copy the global variables file
  copy: src=../configs dest=/opt/openbach-controller/

- name: Install the backend
  copy: src=../src/controller/backend/{{ item.name }} dest=/opt/openbach-controller/backend/ mode={{ item.mode }}
  with_items:
    - { name: 'backend', mode: '0755' }
    - { name: 'manage.py', mode: '0755' }
    - { name: 'openbach_django', mode: '0755' }

- name: Install the openbach-conductor
  copy: src=../src/controller/openbach-conductor/{{ item.name }} dest=/opt/openbach-controller/openbach-conductor/ mode={{ item.mode }}
  with_items:
    - { name: 'openbach-conductor.py', mode: '0755' }
    - { name: 'add_job.yml', mode: '0644' }
    - { name: 'del_job.yml', mode: '0644' }
    - { name: 'start_job_instance_agent.yml', mode: '0644' }
    - { name: 'stop_job_instance_agent.yml', mode: '0644' }
    - { name: 'restart_job_instance_agent.yml', mode: '0644' }
    - { name: 'status_job_instance_agent.yml', mode: '0644' }

- name: Install the src of the Agents
  copy: src=../src/agent/ dest=/opt/openbach-controller/src_agent

- name: Install the installation of the Agents
  copy: src=../src/controller/install_agent dest=/opt/openbach-controller/

- name: Install the src of the Jobs
  copy: src=../src/jobs dest=/opt/openbach-controller

- name: Set the influxdb port to use
  replace: dest=/opt/openbach-controller/openbach-conductor/openbach-conductor.py regexp=':8086/query' replace=':{{ influxdb_port }}/query' backup=yes

- name: Initialize the database
  shell: /opt/openbach-controller/backend/manage.py {{ item }}
  with_items:
    - makemigrations
    - migrate

- name: Create a default superuser on the database
  shell: echo "from django.contrib.auth.models import User; User.objects.create_superuser('openbach', '', 'openbach')" | /opt/openbach-controller/backend/manage.py shell
  ignore_errors: yes

- name: Create openbach-conductor service
  copy: src=../src/controller/openbach-conductor/openbach-conductor dest=/etc/init.d/ mode=0755

- name: Start openbach-conductor
  service: name=openbach-conductor state=started

- name: Create openbach-backend service
  copy: src=../src/controller/backend/openbach-backend dest=/etc/init.d/ mode=0755

- name: Start openbach-backend
  service: name=openbach-backend state=started

