---

- name: Add Ansible repository
  apt_repository: repo=ppa:ansible/ansible update_cache=yes
  tags:
    - only-controller
  
- name: Install software-properties-common
  apt: pkg=software-properties-common update_cache=false
  tags:
    - only-controller
  
- name: Install Ansible
  apt: pkg=ansible update_cache=false
  tags:
    - only-controller

- name: Create SSH Key 
  user: generate_ssh_key=yes name={{ ansible_ssh_user }}
    
- name: Create OpenBACH repository
  file: path=/opt/openbach-controller state=directory mode=0755
  
- name: Copy the SSH Key to OpenBACH repository
  copy: src={{ ansible_env.PWD }}/.ssh/id_rsa.pub dest=/opt/openbach-controller/ remote_src=True

