---

- name: Install python3-pip
  apt: pkg=python3-pip state=installed update_cache=false
  
- name: Install apscheduler
  pip: name=apscheduler state=present executable=pip3

- name: Upgrade setuptools
  pip: name=setuptools extra_args='--upgrade' executable=pip3
  
- name: Create openbach-agent repository
  file: path=/opt/openbach-agent state=directory mode=0755
  
- name: Create openbach pid repository
  file: path=/var/run/openbach state=directory mode=0755
  
- name: Create openbach-agent jobs repository
  file: path=/opt/openbach-agent/jobs state=directory mode=0755
  
- name: Install the daemon
  copy: src=openbach-agent/{{ item.name }} dest=/opt/openbach-agent/ mode={{ item.mode }}
  with_items:
    - { name: 'openbach-agent.py', mode: '0755' }
    - { name: 'openbach-agent_filter.conf', mode: '0644' }
  
- name: Install the openbach-baton script as an executable
  copy: src=openbach-agent/openbach-baton dest=/opt/openbach-agent/ mode=0755
  
- name: Create the service
  template: src=openbach-agent.j2 dest=/etc/init.d/openbach-agent mode=0755

- name: Start the service
  service: name=openbach-agent state=started

