$template strtpl,"{ \"pri\": \"%pri%\", \"timestamp\": \"%timestamp%\", \"hostname\": \"%hostname%\", \"programname\": \"%programname%\", \"procid\": \"%procid%\", \"msg\": \"%msg%\" }\n"
$template FileFormat,"/var/log/openbach/openbach_conductor_%$now%T%$hour%0000.log"
if $programname == 'openbach_conductor' and $syslogseverity <= '3' then \
	-?FileFormat;strtpl
