---

- name: Download InfluxDB (64bits)
  get_url: url=https://s3.amazonaws.com/influxdb/influxdb_{{ influxdb_version }}_amd64.deb \
    dest=/tmp/ force=no
  tags:
    - install
    
- name: Install InfluxDB (64bits)
  shell: dpkg -i /tmp/influxdb_{{ influxdb_version }}_amd64.deb
  tags:
    - install
  
- name: Start InfluxDB
  service: name=influxdb state=started
  tags:
    - install
  
- name: Wait a little
  shell: sleep 2
  tags:
    - install
  
- name: Database Creation
  shell: curl -G http://localhost:{{ influxdb_port }}/query --data-urlencode "q={{ item }}"
  with_items:
    - CREATE DATABASE "{{ database_name }}"
    - CREATE USER "{{ database_username }}" WITH PASSWORD '{{ database_password }}' WITH ALL PRIVILEGES
  tags:
    - install

