---

- name: Install Collectstats
  copy: src=collectstats/ dest=/opt/collectstats/ mode=0644

- name: Configure Collectstats
  template: src=collectstats.cfg.j2 dest=/opt/collectstats/collectstats.cfg

- name: Create Collectstats Service
  copy: src=collectstats_service dest=/etc/init.d/collectstats mode=0755

- name: Start Collectstats
  service: name=collectstats state=started

- name: Check if InfluxDB is installed
  shell: dpkg-query -W -f='${Version}\n' influxdb | sed 's/^[0-9]\+://'
  register: influxdb_check_deb
  ignore_errors: yes
  changed_when: influxdb_check_deb.stdout != '{{ influxdb_version }}'

- name: Download InfluxDB (64bits)
  get_url: url=https://s3.amazonaws.com/influxdb/influxdb_{{ influxdb_version }}_amd64.deb \
    dest=/tmp/ force=no
  when: influxdb_check_deb.stdout != '{{ influxdb_version }}'
    
- name: Install InfluxDB (64bits)
  shell: dpkg -i /tmp/influxdb_{{ influxdb_version }}_amd64.deb
  when: influxdb_check_deb.stdout != '{{ influxdb_version }}'

- name: Set the Port to use
  replace: dest=/etc/influxdb/influxdb.conf regexp='(\s+)bind-address = ":8086"(\s+.*)?$' replace='\1bind-address = ":{{ influxdb_port }}"\2' backup=yes

- name: Start InfluxDB
  service: name=influxdb state=started
  
- name: Wait a little
  wait_for: port={{ influxdb_port }} timeout=10
  
- name: Database Creation
  shell: curl -G http://localhost:{{ influxdb_port }}/query --data-urlencode "q={{ item }}"
  with_items:
    - CREATE DATABASE "{{ database_name }}"
    - CREATE USER "{{ database_username }}" WITH PASSWORD '{{ database_password }}' WITH ALL PRIVILEGES

