---

- name: Add Agents hostname in the known_hosts File
  shell: ssh openbach@{{ item }} -o StrictHostKeyChecking=no -q exit
  with_items: "{{ groups.agent | default([]) }}"
  remote_user: openbach

- name: Create the Variables Folder
  file: path=/opt/openbach/controller/ansible/{{ item }} state=directory
  with_items:
    - group_vars
    - host_vars
  remote_user: openbach

- name: Add the Controller IP as the openbach_controller Ansible Variable
  template: src=group_vars_all.j2 dest=/opt/openbach/controller/ansible/group_vars/all
  remote_user: openbach

- name: Copy the Required Playbooks
  copy: src={{ item }} dest=/opt/openbach/controller/ansible
  with_items:
    - install.yml
    - uninstall.yml
    - conductor.yml
  remote_user: openbach

- name: Configure HTTP Proxies for Agents
  template: src=host_vars.j2 dest=/opt/openbach/controller/ansible/host_vars/{{ item }}
  with_items: "{{ groups.agent | default([]) }}"
  when: hostvars[item].openbach_http_proxy or hostvars[item].openbach_https_proxy or hostvars[item].ansible_connection is defined
  remote_user: openbach

- name: Add Jobs into the Backend Database
  uri:
    url: http://localhost:8000/job/
    method: POST
    body_format: json
    body:
      name: "{{ item.name }}"
      path: "{{ item.path }}"
  with_items:
    - {name: empty_elasticsearch_db, path: /opt/openbach/controller/src/jobs/admin_jobs/empty_elasticsearch_db/}
    - {name: empty_influxdb_db, path: /opt/openbach/controller/src/jobs/admin_jobs/empty_influxdb_db/}
    - {name: rstats_job, path: /opt/openbach/controller/src/jobs/admin_jobs/rstats_job/}
    - {name: rsyslog_job, path: /opt/openbach/controller/src/jobs/admin_jobs/rsyslog_job/}
    - {name: send_logs, path: /opt/openbach/controller/src/jobs/admin_jobs/send_logs/}
    - {name: send_stats, path: /opt/openbach/controller/src/jobs/admin_jobs/send_stats/}
    - {name: synchronization, path: /opt/openbach/controller/src/jobs/admin_jobs/synchronization/}
    - {name: rate_monitoring, path: /opt/openbach/controller/src/jobs/user_jobs/network/rate_monitoring/}
    - {name: post_processing_tcp_pep, path: /opt/openbach/controller/src/jobs/user_jobs/service/post_processing/post_processing_tcp_pep/}
    - {name: http2_client, path: /opt/openbach/controller/src/jobs/user_jobs/service/traffic_generators/http2_client/}
    - {name: http2_server, path: /opt/openbach/controller/src/jobs/user_jobs/service/traffic_generators/http2_server/}
    - {name: http2_client_plt, path: /opt/openbach/controller/src/jobs/user_jobs/service/traffic_generators/http2_client_plt/}
    - {name: http_client_plt, path: /opt/openbach/controller/src/jobs/user_jobs/service/traffic_generators/http_client_plt/}
    - {name: http_server, path: /opt/openbach/controller/src/jobs/user_jobs/service/traffic_generators/http_server/}
    - {name: fping, path: /opt/openbach/controller/src/jobs/user_jobs/transport/fping/}
    - {name: hping, path: /opt/openbach/controller/src/jobs/user_jobs/transport/hping/}
    - {name: initial_spreading_fq, path: /opt/openbach/controller/src/jobs/user_jobs/transport/initial_spreading_fq/}
    - {name: initial_windows, path: /opt/openbach/controller/src/jobs/user_jobs/transport/initial_windows/}
    - {name: iperf, path: /opt/openbach/controller/src/jobs/user_jobs/transport/iperf/}
    - {name: pep, path: /opt/openbach/controller/src/jobs/user_jobs/transport/pep/}
    - {name: smart_iw, path: /opt/openbach/controller/src/jobs/user_jobs/transport/smart_iw/}
    - {name: tcp_buffer, path: /opt/openbach/controller/src/jobs/user_jobs/transport/tcp_buffer/}
    - {name: tcpprobe_monitoring, path: /opt/openbach/controller/src/jobs/user_jobs/transport/tcpprobe_monitoring/}
    - {name: mptcp, path: /opt/openbach/controller/src/jobs/user_jobs/transport/mptcp/}
    - {name: netcat, path: /opt/openbach/controller/src/jobs/user_jobs/transport/netcat/}
    - {name: postprocess_stats, path: /opt/openbach/controller/src/jobs/user_jobs/postprocessing/postprocess_stats/}

- name: Add Collectors into the Backend Database
  uri:
    url: http://localhost:8000/collector/
    method: POST
    body_format: json
    body:
      address: "{{ item }}"
      name: "{{ hostvars[item].openbach_name }}"
      skip_playbook: true
    status_code: 202
  with_items: "{{ groups.collector | default([]) }}"

- name: Wait until Playbook Finishes
  uri: url=http://localhost:8000/collector/{{ item }}/state
  register: response
  with_items: "{{ groups.collector | default([]) }}"
  delay: 5
  retries: 20
  until: response.json.add.returncode in (200, 204)

- name: Add Agents into the Backend Database
  uri:
    url: http://localhost:8000/agent/
    method: POST
    body_format: json
    body:
      address: "{{ item }}"
      name: "{{ hostvars[item].openbach_name }}"
      collector_ip: "{{ hostvars[item].openbach_collector }}"
      skip_playbook: true
    status_code: 202
  with_items: "{{ groups.agent | default([]) }}"

- name: Wait until Playbook Finishes
  uri: url=http://localhost:8000/agent/{{ item }}/state
  register: response
  with_items: "{{ groups.agent | default([]) }}"
  delay: 5
  retries: 20
  until: response.json.install.returncode in (200, 204)
