---

- name: Install Ansible modules dependencies
  apt: name=python-influxdb state=present
  become: yes

- name: Install Java 8
  unarchive: src=jre-8u101-linux-x64.tar.gz dest=/usr/local/ extra_opts='--strip-components=1'
  become: yes
  ignore_errors: yes

- name: Upload binary files
  copy: src={{ item }} dest=/tmp/
  with_items:
    - elasticsearch.deb
    - influxdb.deb
    - logstash.deb
    - logstash-offline-plugins.zip

- name: Install .deb Packages
  apt: deb=/tmp/{{ item }}.deb force=yes
  with_items:
    - elasticsearch
    - influxdb
    - logstash
  become: yes
  notify:
    - restart elasticsearch
    - restart influxdb
    - restart logstash

- name: Configure Elasticsearch
  template: src=elasticsearch.yml.j2 dest=/etc/elasticsearch/elasticsearch.yml owner=root group=elasticsearch
  become: yes
  notify: restart elasticsearch

- name: Configure Logstash
  template: src=collector.conf.j2 dest=/etc/logstash/conf.d/collector.conf owner=root group=root
  vars:
    auditorium_ip: "{{ auditorium_machine | default('auditorium' in groups and groups.auditorium and groups.auditorium[0] or inventory_hostname) }}"
  become: yes
  notify: restart logstash

- name: Add patterns to the ouptput module 'grok'
  copy: src=pattern dest=/etc/logstash/conf.d/
  become: yes
  notify: restart logstash

- name: Install logstash-output-influxdb
  shell: bin/logstash-plugin install file:///tmp/logstash-offline-plugins.zip chdir=/usr/share/logstash
  args:
    creates: /usr/share/logstash/vendor/bundle/jruby/1.9/gems/logstash-output-influxdb-5.0.0
  become: yes
  become_user: logstash
  notify: restart logstash

- name: Set the Port to use by InfluxDB
  replace: dest=/etc/influxdb/influxdb.conf regexp='(\s+)bind-address = ":8086"(\s+.*)?$' replace='\1bind-address = ":{{ influxdb_port }}"\2' backup=yes
  become: yes
  notify: restart influxdb
