[Unit]
Description=Startup script for OpenBACH Agent
Requires=network.target
Requires=rstats.service

[Service]
Type=simple
User=openbach
Environment=PYTHONPATH=/opt/openbach/agent/collect_agent
Environment=JOB_NAME=openbach_agent
ExecStart=/usr/bin/python3 /opt/openbach/agent/openbach_agent.py

[Install]
WantedBy=multi-user.target
